.title{
	text-align: center;
	width: 100%;
	background-color: green;
}

.navbar{
	background-color: green;
	width: 100%;
	display: flex;
}
.slogan {
	background-color: white;
	width: 100%;
	opacity: 100%;
}
.slogantitle {
	width: 100%;
	text-align: center;
	background-color: white;
}

.signinbody {
	display: flex;
    justify-content: center; 
}

.signupbody{
	display: flex;
    justify-content: center; 

}

.errormsg{
	display: flex;
	justify-content: center; 
	color: red;
}

.backgroundlogin{
	background-image: url(./backgroundimage.jpeg);
	height: 100%;
	width: 100%;
	opacity: 75%;
}